html {
  font-family: 'Montserrat', sans-serif;
  background-color: #E8E5D7;
  margin : auto;
  width : 80%;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #274C56;
}
.logo {
  float: left;
  display: block;
  background-color: #1E3E45;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li{
  float:right ;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color:#1E3E45;
}
.logo {
  display: inline-block;
    vertical-align: top;
    width: 50px;
    height: 50px;
    margin-right: 20px;
    margin-top: 0px;
  padding: 0px;
}

.companyname {
  display: block;
  text-align: center;
}
.home_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.fields_img {
  width: 100%;
  height: 400px;
  background-size: cover;
  margin: 0;
}
.products_selection {
  display: flex;
  align-self: center;
}
.products_panel {
  display: flex;
  child-align: middle;
}
.product_picture {
  align-self: center;
  width: 100%;
  height: auto;
  margin: 0px 0px;
  border-radius: 20px;
}
.panel1 {
  display: inline-block;
  background-color: tan;
  text-align: center;
  image-resolution: normal;
  padding: 12px 14px;
  border-radius: 20px;
}
.panel2 {
  display: block;
  background-color: #3B6A78;
  text-align: center;
  image-resolution: normal;
  padding: 12px 14px;
  border-radius: 20px;
}
.panel3 {
  display: block;
  background-color: teal;
  text-align: center;
  image-resolution: normal;
  padding: 12px 14px;
  border-radius: 20px;
}
.contact_info {
  display: flex;
  align-items: normal;
}
.left_panel {
  width: 45%;
  display: flex;
  padding: 5px 15px;
  margin: 0px 5px 0px 0px;
}
.contact_text {
  width: 70%;
  margin: 5px 5px 5px 5px
}
.right_panel {
  width 80%;
  height: auto;
}